.separator{
    width: 100%;
    height: 15vh;
    text-align: center;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
}

.separator__text{

    font-family: FuturaLightC;
    position: relative;
    color: white;
    font-size: 4vmin;
    transition: 0.2s;
}
.separator__text::after,
.separator__text::before{
    position: absolute;
    border-top: 1px solid white;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    transition: 0.2s;
}
.separator__text::before{
    margin-top: -5%;
    top: 0;
}
.separator__text::after{
    margin-bottom: -5%;
    bottom: 0;
}
.separator:hover .separator__text::before{
    width: 50%;
    /* margin-top: -6%; */
}
.separator:hover .separator__text::after{
    width: 50%;
    /* margin-bottom: -6%; */
}
.separator:hover .separator__text{
    font-size: 1.2em;
}