p, h1,h2,h3,h4,h5,div {
  font-family: "FuturaLightC" !important;
}

@font-face{
font-family: "FuturaLightC";
  font-style: normal;
  font-weight: 400;
  src: local("FuturaLightC"),
       url("./FuturaLightC.woff") format("woff"),
       url("./FuturaLightC.ttf") format("truetype");
}