.footer{
    width: 100%;
    height: 20vw;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

@media (max-width:550px) {
    .footer__text-wrapper{
        font-size: 16px;
    }
    .footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 50vw);
    }
    .footer__item:last-child {
        grid-column: span 2;
    }
    .footer__title{
        margin-bottom: 0%;
    }
}
@media (orientation:portrait) and (min-width:550px) {
    .footer__text-wrapper{
        font-size: 16px;
    }
    .footer__item:nth-child(1),
    .footer__item:nth-child(2),
    .footer__item:nth-child(3){
        grid-column: span 2;
    }
    .footer__item:nth-child(4),
    .footer__item:nth-child(5){
        grid-column: span 3;
    }
    .footer{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2,33.3vw);
    }
    .footer__title{
        margin-bottom: 0%;
    }
}
@media (orientation: landscape) and (max-width:1450px) {
    .footer__text-wrapper{
        font-size: 16px;
    }
    .footer__title{
        margin-bottom: 0%;
    }
}