.footer__soc-net-elemets{

    z-index: 5;
    gap: 2%;
    display: flex;
    
    justify-content: center;
    z-index: 2;
    width: 100%;
    bottom: 0;
    margin-right: 0;
}

.footer__soc-net{
    background-color: #1e1e1e;
    transition: 0.3s;
    width: 3vw;
    height: 3vw;
}
.footer__soc-net:hover{
    background-color: black;
    transform: scale(1.2);
}
.footer__soc-net::hover .footer__title{
    opacity: 0;
}
@media(max-width:550px) {
    .footer__soc-net{
        background-color: #1e1e1e;
        transition: 0.3s;
        width: 8vw;
        height: 8vw;
    }
}