.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 28, 48);
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{

}
form{
    display: flex;
    flex-direction: column;
}